{
  "Parameters": {
    "COGNITO_USER_POOL_ID": "us-east-1_xxxxxxxx",
    "COGNITO_CLIENT_ID": "xxxxxxxxxxxxxxxxxxxxxxxxxx",
    "DB_HOST": "aurora-cluster.cluster-xxxxxx.us-east-1.rds.amazonaws.com",
    "DB_PORT": "5432",
    "DB_USER": "qx_app",
    "DB_PASSWORD": "replace_me",
    "DB_NAME": "qx_app",
    "DB_USE_IAM_AUTH": "false"
  }
}
